    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR79araYpd1uWwM18gsTFXGFs0lVVv9aGj-w&usqp=CAU");
        background-size: cover;
    }
    .texto{
        margin: 2em;
        color: #000000;
    }
    .texto2{
        margin: 2em;
        color: #000000;
    }
    .form{
        margin: 2em;
        border-radius: 0%;
        
    }
    .botones{
        margin: 2em;

    }